/*ALLA ELEMENT*/
h1{
    color:red;
}
/* ALLA MED SAMMA ID */
#title{
    color:blue;

}

/*ALLA MED SAMMA KLASSNAMN*/
.class {
    color:rgb(110, 140, 201);
    border: 2px solid black;
    margin-top: 10px;
    margin-right:25px;
    margin-bottom: 10px;
    margin-left: 25px;
}

.colorChange{
    /* fjärde talet står för opacitetet */
    color:rgba(0,0,0,0.8);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size : 33px;
}

body{
    color:#885a;
    background: url("../../Lektion1/proxy-image.jpg") no-repeat center;
}
a{
    color:black;
    
}
a:hover{
    color:crimson;
    font-weight: bold;
    font-size: 25px;
    opacity: 0.7;
    transition: all 0.8s;
}
a:visited{
    text-decoration: line-through;
}

.columnBox{
    float:left;
    width: 33.3%;
    box-sizing: border-box;
}
div>h2 + p{
    color:red;
    font-weight: bold;
}

@media screen and (max-width: 600px){
    .class{
        color:blueviolet;
    }
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}